@import "header";

/* HEADER */
header {
    width: 100%;
    background-color: #222;
    color: #fff;
}

/* MENU */
.menu a img {
    max-height: 23px;
}

/* BOTONES */
.btn.btn-primary {
    width: 300px;
    margin: 20px auto;
    font-size: 16px;
    border-radius: 50px;
    display: grid;
    background-color: #222;
    color: #fff;
}
.btn.btn-primary span{
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    font-weight: bold;
}

/* MAIN */
.main {
    min-height: 447px;
}

/* FOOTER */
footer {
    height: 64px;
    background-color: #222;
    color: #fff;
}
footer .container {
    margin: auto;
}
footer .container p {
    margin: 0rem;
}

/* CONTAINER */
.container {
    margin: 50px auto;
    max-width: 90%;
}

/* INDEX*/
.index{
    min-height: calc(100vh - 404px);
}
.index .row{
    display: flex;
}
.index .btn.btn-primary{
    height: 60px;
    width: 46%;
}
/* NOTICIAS*/
.noticias .noticia {
    margin: 50px auto;
    border: 2px solid;
}
.noticias .noticia .btn {
    margin: 10px auto;
}

/* RESERVAS */
.reservas {
    height: auto;
    /* You must set a specified height */
    width: 100%;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    padding-left: 5%;
}

.reservas.cabecera {
    background-image: url("../images/fondo-corcho-pared-cabecera.png");
}

.reservas.contenido {
    background-image: url("../images/fondo-corcho-pared-contenido-movil.png");
    padding: 12%;
    padding-right: 0;
}

.reservas.footer {
    background-image: url("../images/fondo-corcho-pared-footer.png");
    height: 44px;
}

.reservas .postit {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reservas .postit.comida {
    background-image: url(../images/reservas/postit-morado-movil.png);
}

.reservas .postit.cena {
    background-image: url(../images/reservas/postit-azul-movil.png);
}
.reserva{
    text-align: center;
}
.reserva .campo {
    display: flex;
    margin: 10px auto;
}
.reserva .campo label{
    width: 90%;
    text-align: left;
    display: grid;
    align-self: center;
}
.reserva .checkbox-mesas{
    display: none;
}
.mesas-libres {
    display: grid;
}
.mesas-libres .plano{
    position: relative;
    padding: 30px;
    border: 3px solid;
    border-radius: 10px;
    margin: 20px auto;
}
.mesas-libres .plano img{
    max-width: 250px;
}
.mesas-libres .plano .mesa{
    border: 3px solid;
    border-radius: 8px;
    position: absolute;
    opacity: 0.6;
}
.mesas-libres .plano .mesa.vertical{
    height: 148px;
    width: 63px;
}
.mesas-libres .plano .mesa.horizontal{
    height: 63px;
    width: 149px;
}
.mesas-libres .plano .mesa.vertical.mesa-1{
    top: 33px;
}
.mesas-libres .plano .mesa.vertical.mesa-2{
    top: 204px;
}
.mesas-libres .plano .mesa.vertical.mesa-3{
    top: 379px;
}
.mesas-libres .plano .mesa.vertical.mesa-4{
    top: 204px;
    right: 30px;
}
.mesas-libres .plano .mesa.vertical.mesa-5{
    top: 379px;
    right: 30px;
}
.mesas-libres .plano .mesa.vertical.mesa-6{
    top: 375px;
}
.mesas-libres .plano .mesa.vertical.mesa-7{
    top: 200px;
}
.mesas-libres .plano .mesa.horizontal.mesa-8{
    top: 101px;
    left: 81px;
}
.mesas-libres .plano .mesa.vertical.mesa-9{
    top: 200px;
    right: 30px;
}
.mesas-libres .plano .mesa.vertical.mesa-10{
    top: 375px;
    right: 30px;
}

/* CUENTAS */
.cuentas .producto .id {
    display: none;
}

.cuentas .calculos #reserva_id {
    display: none;
}

.cuentas .calculos #reserva_precio {
    display: none;
}

/* FACTURAS */
.factura .contenido {
    display: inline-flex;
}


/* INGRESOS */
.ingresos .ingreso{
    width: 100%;
    border-bottom: 1px solid;
}
.ingresos .ingreso p{
    display: inline-flex;
}
.ingresos .ingreso p.fecha{
    width: 20%;
}
.ingresos .ingreso p.concepto{
    width: 40%;
}
.ingresos .ingreso p.cantidad{
    width: 20%;
}

/*# sourceMappingURL=styles.css.map */

/* MEDIA SCREEN*/
@media only screen and (min-width: 414px) {
    header {
        height: 134px;
    }

    footer {
        height: 134px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .btn.btn-primary{
        font-size: 30px;
    }

    .menu a img {
        max-height: 100px;
    }

    .container {
        max-width: 1440px;
    }
    .index .btn.btn-primary {
        margin: 50px auto;
        height: 120px;
        width: 400px;
    }
    .index .row{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }
    .reservas .btn.btn-primary{
        margin: auto;
    }

    .reservas .postit.comida {
        background-image: url(../images/reservas/postit-morado.png);
    }

    .reservas .postit.cena {
        background-image: url(../images/reservas/postit-azul.png);
    }
}

@media only screen and (min-width: 900px) {
    .reserva .campo{
        display: inline-block;
    }
    .reserva .campo label{
        width: auto;
    }
    .mesas-libres {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mesas-libres .plano{
        margin: auto;
    }
    .mesas-libres .plano img{
        max-width: 350px;
    }
    .mesas-libres .plano .mesa.vertical {
        height: 207px;
        width: 87px;
    }
    .mesas-libres .plano .mesa.horizontal {
        height: 87px;
        width: 207px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-2{
        top: 274px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-3{
        top: 518px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-4{
        top: 274px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-5{
        top: 518px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-6{
        top: 513px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-7{
        top: 269px;
    }
    .mesas-libres .plano .mesa.horizontal.mesa-8{
        top: 129px;
        left: 101px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-9{
        top: 269px;
        right: 30px;
    }
    .mesas-libres .plano .mesa.vertical.mesa-10{
        top: 513px;
        right: 30px;
    }
}