/* HEADER */
header{width: 100%;height: 134px;border: 4px solid;}
/* MENU */
.menu a img {max-height: 23px;}

/* BOTONES COLORES */
.rojo{background-color: #E74C3C;color: #000;border-color: #C0392B;}
.morado{background-color: #9B59B6; color: #000;border-color: #8E44AD;}
.azul{background-color: #3498DB; color: #000;border-color: #2980B9;}
.verde{background-color: #27AE60; color: #000;border-color: #16A085;}
.amarillo{background-color: #F1C40F; color: #000;border-color: #F39C12;}
.naranja{background-color: #E67E22; color: #000;border-color: #D35400;}
.gris{background-color: #95A5A6; color: #000;border-color: #7F8C8D;}
/* MAIN */
main{padding: 5rem 0;}
/* FOOTER */
footer{height: 134px;}
footer{background-color: #0C6EFD;padding-top: 2rem;padding-bottom: 2rem;border: 4px solid;}
footer p{margin: 0rem;}
/* CONTAINER */
.container{margin: 50px auto;}
/* INDEX*/
.index .btn{width:50%;margin:10px auto;padding: 20px;}

/* NOTICIAS*/
.noticias .noticia{margin:50px auto;border: 2px solid;}
.noticias .noticia .btn{margin: 10px auto;}

/* RESERVAS */
.reservas{
    height: auto; /* You must set a specified height */
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-left: 5%;
}
.reservas.cabecera{
    background-image: url("../images/fondo-corcho-pared-cabecera.png");
}
.reservas.contenido{
    background-image: url("../images/fondo-corcho-pared-contenido.png");
    padding: 5%;
    padding-right: 0;
}
.reservas.footer{
    background-image: url("../images/fondo-corcho-pared-footer.png");
    height: 44px;
}

.reservas .postit{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.reservas .postit.comida{
    background-image: url(../images/reservas/postit-morado.png);
}

.reservas .postit.cena{
    background-image: url(../images/reservas/postit-azul.png);
}


/* MEDIA SCREEN*/
@media only screen and (min-width: 600px) {
    .menu a img {max-height: 100px;}
}