{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container index">
    <div class="row"><a class="btn btn-primary rojo" href="{{ path('noticia') }}">noticias</a></div>
    <div class="row"><a class="btn btn-primary morado" href="{{ path('socio') }}">socios</a></div>
    <div class="row"><a class="btn btn-primary azul" href="#">reservas</a></div>
    <div class="row"><a class="btn btn-primary verde" href="#">productos</a></div>
    <div class="row"><a class="btn btn-primary amarillo" href="#">gastos</a></div>
    <div class="row"><a class="btn btn-primary naranja" href="#">ingresos</a></div>
    <div class="row"><a class="btn btn-primary gris" href="#">pedidos</a></div>
</div>
{% endblock %}