{% extends 'base.html.twig' %}

{% block title %}Hello RegistroSocioController!{% endblock %}

{% block body %}
<div class="container">
      <div class="row">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                  {{ message }}
            </div>
            {% endfor %}
      </div>
      {{ form(formulario) }}
</div>
{% endblock %}
